<script>
  import { isNonEmptyArr, isStr } from '@/utils';

  export default {
    name: 'WidgetTable',
    props: {
      variation: {
        type: String,
        default: null,
      },
      title: {
        type: String,
        default: null,
      },
      items: {
        type: Array,
        default: () => [],
      },
      columns: {
        type: Array,
        default: () => [],
      },
      hasCustomItemsTemplate: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      hasItems() {
        return isNonEmptyArr(this.items);
      },
      hasVariation() {
        return isStr(this.variation);
      }
    },
  };
</script>

<template>
  <div
    data-component-group="tables"
    data-component="widget"
    :class="hasVariation ? `variation--${variation}` : null"
  >
    <div v-if="title" class="t-head">
      {{ title }}
    </div>

    <div class="t-body">
      <div class="row row--head">
        <div
          v-for="(column, index) in columns" :key="index"
          class="column"
        >
          {{ column.label }}
        </div>
      </div>

      <div
        v-for="(item, index) in items" :key="index"
        class="row"
      >
        <div
          v-for="column in columns" :key="column.type"
          class="column"
        >
          <slot
            v-if="hasCustomItemsTemplate"
            :cell="{
              id: column.type,
              value: column.value,
              item,
              rowIndex: index,
            }"
            name="item-cell"
          />

          <template v-else>
            {{ item[column.value] }}
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="tables"][data-component="widget"] {
    width: 100%;
    margin: 10px;

    &.variation--device {
      .t-head { background: rgb(131, 86, 193, 1); color: #fff; }
      .t-body { background: rgb(131, 86, 193, 0.2); }
    }
    &.variation--job {
      & .t-head { background: rgb(159, 235, 238, 1); }
      & .t-body { background: rgb(159, 235, 238, 0.2); }
    }
    &.variation--cable {
      & .t-head { background: rgb(234, 244, 179, 1); }
      & .t-body { background: rgb(234, 244, 179, 0.2); }
    }

    .t-head {
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      background: #c6c6c6;
    }

    .t-body {
      padding: 0 10px;
      background: #f3f3f3;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0;
      text-align: center;
      font-weight: 300;

      &--head {
        padding: 4px 0;

        .column { font-weight: 500; }
      }
    }

    .column {
      flex: 1;
      font-weight: 400;
    }
  }
</style>
