<script>
  import { useHead } from '@vueuse/head';
  import { isStr } from '@/utils';
  import { Device, Job } from '@/classes';
  import { columns as deviceColumns } from '@/configs/deviceWidget';
  import { columns as jobColumns } from '@/configs/jobWidget';
  import { columns as cableColumns } from '@/configs/cableWidget';
  import WidgetTable from '@/components/tables/Widget';

  import { mockedDevices } from '@/mocks/devices';

  export default {
    name: 'HomeView',
    components: { WidgetTable },
    inject: ['$config'],
    setup() { useHead({ title: 'Home View' }); },
    data() {
      return {
        deviceColumns,
        jobColumns,
        cableColumns,
        deviceList: mockedDevices.map((item) => new Device(item)),
        setDeviceId: null,
        setPortId: null,
        setJobId: null,
        connectionMeta: [],
        jobs: [],
      };
    },
    computed: {
      cableList() {
        return this.jobs
          .filter(({ isCompleted, isActive }) => isCompleted && isActive)
          .map((({ fromPointer, toPointer }) => {
            const fromPort = `${fromPointer.deviceId.toUpperCase()}-P${fromPointer.portIndex}`;
            const toPort = `${toPointer.deviceId.toUpperCase()}-P${toPointer.portIndex}`;

            return {
              name: `${fromPort}-${toPort}`,
              fromPort,
              toPort,
            };
          }));
      },
    },
    methods: {
      setConnectionMeta(deviceIndex, portIndex) {
        const { deviceId, ports } = this.deviceList[deviceIndex];
        const { portId } = ports[portIndex];
        const nextConnectionMeta = {
          deviceId,
          deviceIndex,
          portId,
          portIndex,
        };

        this.generateConnection(nextConnectionMeta);
      },
      generateConnection(metaObj) {
        this.connectionMeta.push(metaObj);

        if (this.connectionMeta.length === 1) {
          this.setDeviceId = metaObj.deviceId;
          this.setPortId = metaObj.portId;

          // eslint-disable-next-line no-alert
          window.alert('Please select a second device port for the cable connection!');
          return false;
        }

        this.setNextJob({ meta: this.connectionMeta, typeId: 1 });
        this.resetConnectionPointers();
      },
      resetConnectionPointers() {
        this.setDeviceId = null;
        this.setPortId = null;
        this.connectionMeta = [];
      },
      closeConnection({ fromPointer, toPointer, id }) {
        this.setNextJob({ meta: [fromPointer, toPointer], typeId: 2, relatedId: id, });
      },
      setNextJob({ meta, typeId, relatedId = null }) {
        const nextJob = new Job({ typeId, meta, relatedId });

        this.jobs.push(nextJob);

        this.setPortJobPointer(meta, nextJob, relatedId);
      },
      setPortJobPointer([fromPointer, toPointer], nextJob = null) {
        this.deviceList[fromPointer.deviceIndex].ports[fromPointer.portIndex].job = nextJob;
        this.deviceList[toPointer.deviceIndex].ports[toPointer.portIndex].job = nextJob;
      },
      handleDisconnect(jobObj) {
        const { relatedId, fromPointer, toPointer } = jobObj;

        if (isStr(relatedId)) {
          const targetIndex = this.jobs.findIndex((item) => item.id === relatedId);

          this.jobs[targetIndex].isActive = false;
          jobObj.isActive = false;

          this.setPortJobPointer([fromPointer, toPointer], null);
        }
      }
    },
  };
</script>

<template>
  <div data-view="home">
    <div class="widget-list">
      <div class="widget-list__row">
        <WidgetTable
          v-for="(device, deviceIndex) in deviceList" :key="device.id"
          :items="device.ports" :columns="deviceColumns"
          :title="device.name" variation="device"
          has-custom-items-template
        >
          <template #item-cell="{ cell }">
            <template v-if="cell.id === 'port'">
              {{ `P${cell.item.portIndex}` }}
            </template>

            <template v-else-if="cell.id === 'connectedTo'">
              <span v-if="cell.item.job && cell.item.job.isCompleted">
                {{ device.displayPortToPointer(device.deviceId, cell.item.portIndex) }}
              </span>
            </template>

            <template v-else-if="cell.id === 'cable'">
              <span v-if="cell.item.job && cell.item.job.isCompleted">
                {{ device.displayPortCable(cell.item.portIndex) }}
              </span>
            </template>

            <template v-else-if="cell.id === 'action'">
              <template v-if="!cell.item.job">
                <button
                  :disabled="setDeviceId === device.deviceId && setPortId !== cell.item.portId"
                  @click.prevent="setConnectionMeta(deviceIndex, cell.item.portIndex)"
                >
                  {{
                    setDeviceId === device.deviceId && setPortId === cell.item.portId
                      ? 'Cancel'
                      : 'Connect'
                  }}
                </button>
              </template>
              <template v-else>
                <button v-if="cell.item.job.isCompleted" @click.prevent="closeConnection(cell.item.job)">
                  Disconnect
                </button>

                <span v-else>Reserved</span>
              </template>
            </template>
          </template>
        </WidgetTable>
      </div>

      <div class="widget-list__row">
        <WidgetTable
          :items="jobs" :columns="jobColumns"
          title="Jobs" variation="job"
          has-custom-items-template
        >
          <template #item-cell="{ cell }">
            <template v-if="cell.id === 'type'">
              <span v-if="cell.item.typeId === 1">Connect</span>
              <span v-if="cell.item.typeId === 2">Disconnect</span>
            </template>

            <template v-if="cell.id === 'fromPointer'">
              {{ `${cell.item.fromPointer.deviceId.toUpperCase()}-P${cell.item.fromPointer.portIndex}` }}
            </template>

            <template v-if="cell.id === 'toPointer'">
              {{ `${cell.item.toPointer.deviceId.toUpperCase()}-P${cell.item.toPointer.portIndex}` }}
            </template>

            <template v-if="cell.id === 'status'">
              {{ cell.item.isCompleted ? 'Completed' : 'Pending' }}
            </template>

            <template v-if="cell.id === 'action'">
              <button
                v-if="!cell.item.isCompleted"
                @click.prevent="{
                  cell.item.setJobStatus();
                  handleDisconnect(cell.item);
                }"
              >
                Complete
              </button>
            </template>
          </template>
        </WidgetTable>

        <WidgetTable
          :items="cableList" :columns="cableColumns"
          title="Cables" variation="cable"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  [data-view="home"] {
    .widget-list{
      &__row {
        display: flex;
      }
    }
  }
</style>
