<script>
  import { useHead } from '@vueuse/head';
  import BaseLayout from '@/components/layouts/Basic';

  export default {
    name: 'App',
    components: { BaseLayout },
    setup() {
      useHead({ titleTemplate: (title) => (title ? `Epsilon - ${title}` : 'Epsilon'), });
    },
  };
</script>

<template>
  <BaseLayout>
    <RouterView />
  </BaseLayout>
</template>
